<html>
<head>
{{>header}}
</head>
<body>
 <br>
 <br>
 <br>
<h1>{{title}}</h1>
<div class="picmenu">
        <a href="/"><img src="img/logo1.JPG" alt="UmaiNihon" width="160" height="90"></a>
</div>
        <div class="navbar">
        <ul>
            <li><a href="/">About Us</a></li>
            <li><a class="active" a href="lunch">Lunch Menu</a></li>
            <li><a href="main">Main Menu</a></li>
            <li><a href="contact">Contact Us</a></li>
          </ul>
        </div>
<div class ="menuDiv">
{{#lunch.chefSpecial}}
<div>
<h4>{{name}}</h4>
<p>
{{description}}
</p>
<p>
{{ingredients}}
</p>
<p>
{{allergy}}
</p>
<p>
{{price}}
</p>
</div>
{{/lunch.chefSpecial}}
</div>
<div class ="menuDiv">
{{#lunch.meals}}
<div>
<h4>{{name}}</h4>
<p>
{{description}}
</p>
<p>
{{ingredients}}
</p>
<p>
{{allergy}}
</p>
<p>
{{price}}
</p>
</div>
{{/lunch.meals}}
</div>
{{^lunch}}
No entries yet.
{{/lunch}}
</body>
</html>