<html>
<head>
{{>header}}
</head>
<body>
 <br>
 <br>
 <br>
<h1>{{title}}</h1>
<h1>Log In</h1>
<div class="picmenu">
      <a href="/">  <img src="img/logo1.JPG" alt="UmaiNihon" width="160" height="90"></a>
</div>
<div class="navbar">
        <ul>
            <li><a href="register">Register</a></li>
            <li><a class="active" a href="login">Log In</a></li>
          </ul>
        </div>
<br>
<br>
   <div class ="formlogin">
   <div class ="loginAlign">
        <!-- Login Form -->
        <form method="POST" action="/login" id="loginBox">
             <div class="loginform-input">
        <label id="login-label" for="loginemail">Email</label>
        <input type="email" class="login-input" id="loginemail" name="loginemail"  placeholder="Enter email" required>
        </div>
        <br>
    <div class="loginform-input">
        <label  id="login-label" for="loginpassword">Password</label>
        <input type="password" class="login-input" id="loginpassword" name="loginpassword" placeholder="Enter password" minlength="8" required>
        </div>
         <br>
        <input type="submit" value="Log in" class="loginbutton">
    </div>
    </div>
</form>
</body>
</html>